.status {
position: absolute;
left: 4em;
right: 4em;
height: calc(3em + 10px);
line-height: 2.8em;
font-size: 16pt;
}
.logorotate {
height: 3em; margin: 5px 0 5px 0;
}

@media (max-width: 767px) {
	.masthead-brand {
    float: left;
  }
  .masthead-nav {
    display: none;
  }
  .status {
  left: 3em;
  text-align: left;
  line-height: 1.8em;
  }
  .logorotate {
height: 2em;
}
}

head, body, .site-wrapper, .site-wrapper-inner, .cover-container {
	height: 100%;
}

.cover-container {
	display: flex;
	flex-direction: column;
}
.masthead {
	flex: 0 0 auto;
}

#mapDiv {
	flex: 1 1 auto;
	max-height: calc(100% - 3em - 10px);
	
}

body {
	background-color: #000;

  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.9) 30%, rgba(0,0,0,0.9)), url("/static/images/WPI Aerial.png");
  background-size: 100%;
}
