server {
	listen 80;
	server_name unorganizr.cloudapp.net;
	charset utf-8;
	gzip on;
	gzip_types text/plain application/xml application/json application/x-javascript text/css application/javascript;

	location / {
		include uwsgi_params;
		uwsgi_pass unix:/var/www/socks/unorganizr.sock;
		uwsgi_read_timeout 500; 
	}

	location /static {
		root /var/www/unorganizr/;
	}
}
