<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>unorganizr - the situation page</title>
    <link rel="icon" href="static/icons/unorganizr_icon.png">
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/shared.css" rel="stylesheet">
    <link href="static/css/location.css" rel="stylesheet">
    <link rel="stylesheet" href="http://openlayers.org/en/v3.13.0/css/ol.css" type="text/css">
    <script src="http://openlayers.org/en/v3.13.0/build/ol.js"></script>
    <script>
    
    function reproject(point, rotate, zero, bounds, imsize)
    {
    	rotate = rotate*Math.PI/180.0;
    	point = [point[0], -point[1]]; // to math
point = [point[0] * Math.cos(rotate) + point[1] * Math.sin(rotate), -point[0] * Math.sin(rotate) + point[1] * Math.cos(rotate)];

    	point = [point[0]+zero[0], -(point[1]-zero[1])]; // to screen
//    	return point;
    	var rrpoint = [(point[0] / imsize[0]), point[1] / imsize[1]];
    	return [bounds[0] + (bounds[2]-bounds[0])*rrpoint[0], bounds[3] + (bounds[1]-bounds[3])*rrpoint[1]];
    }
    
window.onload = function() {
  var startPos;
  
        var vectorSource = new ol.source.Vector({
      //create empty vector
    });
     var iconFeature = new ol.Feature({
          geometry: new  ol.geom.Point(reproject([3467,1918], -81.60, [69, 4632], [-7993569.0, 5202150.0, -7993495.0, 5202268.0], [4347, 6730])),
        name: '115 TEST ',
        });
        vectorSource.addFeature(iconFeature);
        
    var iconStyle = new ol.style.Style({
      image: new ol.style.Icon( ({
        anchor: [0.5, 46],
        anchorXUnits: 'fraction',
        anchorYUnits: 'pixels',
        opacity: 0.75,
        src: 'http://openlayers.org/en/v3.9.0/examples/data/icon.png'
      }))
    });
 var vectorLayer = new ol.layer.Vector({
      source: vectorSource,
      style: iconStyle
    });
    
  map = new ol.Map({
        layers: [new ol.layer.Tile({
          visible: true,
          preload: Infinity,
          source: new ol.source.BingMaps({
            key: 'AgLSPXtDo72XlOb6hkEc5D-4ICLMCgJ0AM2nLSyjpEcYf3fg4-GeJkQbhGP8H6db',
            imagerySet: 'aerial',
            maxZoom: 19
          })
        }),  /* new ol.layer.Image({
            source: new ol.source.ImageStatic({
              url: '/static/floors/AK1_r-150.0v4601x5959.png',
//              projection: projection,
              imageExtent: [-7993580.0, 5202250.0, -7993462.0, 5202360.0],
            }),
              opacity: 0.7
          }),*/
        /*   new ol.layer.Image({
            source: new ol.source.ImageStatic({
              url: '/static/floors/SL1_r-81.60v69x4632.png',
//              projection: projection,
//-7993569.73750382, 5202271.599635647  [ -7993500.167864797, 5202150.673868241 ]
              imageExtent: [-7993569.0, 5202150.0, -7993495.0, 5202268.0],
            }),
              opacity: 0.7
          }),*/
           /*new ol.layer.Image({
            source: new ol.source.ImageStatic({
              url: '/static/floors/CC3_r-18.5v253x5330.png',
              imageExtent: [-7993725.0, 5202196.0 , -7993640.0, 5202301.0 ],
            }),
              opacity: 0.3
          }),*/
            /*new ol.layer.Image({
            source: new ol.source.ImageStatic({
              url: '/static/floors/SH2_r98.16v5161x645.png',
              imageExtent: [ -7993618.0, 5202069.0 , -7993565.0, 5202125.0 ],
            }),
              opacity: 0.3
          }),*/ 
          /**/new ol.layer.Image({
            source: new ol.source.ImageStatic({
              url: '/static/floors/FL2_r62.48v3839x0.png',
              imageExtent: [ -7993508.0, 5202206.0 , -7993390.0, 5202336.0 ],
            }),
              opacity: 0.3
          }),/**/
          vectorLayer
          ],
        // Improve user experience by loading tiles while dragging/zooming. Will make
        // zooming choppy on mobile or slow devices.
        loadTilesWhileInteracting: true,
        target: 'mapDiv',
        view: new ol.View({
          center: ol.proj.fromLonLat([-71.807402, 42.274775]),
          zoom: 19,
	  //displayProjection: "EPSG:900913",
//	  projection: "EPSG:4326"
        }),
      });
      
      
  var geoSuccess = function(position) {
    startPos = position;
    console.info(position);
    map.getView().setCenter(ol.proj.fromLonLat([startPos.coords.longitude, startPos.coords.latitude]));
    document.getElementById('startLat').innerHTML = startPos.coords.latitude;
    document.getElementById('startLon').innerHTML = startPos.coords.longitude;
  };
  navigator.geolocation.getCurrentPosition(geoSuccess, function(e){console.error(e)});
};
    </script>
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <img src="static/icons/unorganizr_logo_light.png" class="masthead-brand logorotate">
              <div class="status">Searching for Your Location...</div>
              <nav>
                <img src="static/icons/unorganizr_name_light.png" class="nav masthead-nav" style="height: 3em; margin-top: 5px">
              </nav>
            </div>
          </div>

          <div class="inner cover" id='mapDiv'></div>
          </div>

        </div>

      </div>

    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
