<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Location</title>
    <script>
window.onload = function() {
  var startPos;
  var geoSuccess = function(position) {
    startPos = position;
    document.getElementById('startLat').innerHTML = startPos.coords.latitude;
    document.getElementById('startLon').innerHTML = startPos.coords.longitude;
  };
  navigator.geolocation.getCurrentPosition(geoSuccess);
};
    </script>
  </head>
  <body>
    <iframe id="video" frameborder="0" allowfullscreen></iframe>
  </body>
</html>