<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>unorganizr - the situation page</title>
    <link rel="icon" href="/static/icons/unorganizr_icon.png">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/shared.css" rel="stylesheet">
    <link href="/static/css/location.css" rel="stylesheet">
    <script src="/static/js/ol-v3.13.0.js"></script>
    <script>
// polyfills
Math.hypot = Math.hypot || function() {
  var y = 0;
  var length = arguments.length;

  for (var i = 0; i < length; i++) {
    if (arguments[i] === Infinity || arguments[i] === -Infinity) {
      return Infinity;
    }
    y += arguments[i] * arguments[i];
  }
  return Math.sqrt(y);
};
    
window.onload = function() {
grayLayer = new ol.source.Vector({});
redLayer = new ol.source.Vector({});
blueLayer = new ol.source.Vector({});
greenLayer = new ol.source.Vector({});
positionLayer = new ol.source.Vector({});
var layerMap = { 'gray': grayLayer, 'red': redLayer, 'blue': blueLayer, 'green': greenLayer };
function updateDataLayer(data)
{
	data.forEach(function(x)
	{
		//details, distance, coordintes, status
		var pf = new ol.Feature({
			geometry: new ol.geom.Point(x.coordinates),
			name: x.details.space_name,
			status: x.status,
			raw: x,
			distance: Math.round(x.distance) / 3.28 + "ft",
		});
		var png = x.status == "best" ? "green" : (x.status == "free" ? "blue" : (x.status == "bad" ? "red" : "gray"));
		var color = x.status == "best" ? "#29953a" : (x.status == "free" ? "#1260ae" : (x.status == "bad" ? "red" : "#96989c"));
		pf.setStyle(new ol.style.Style({
			image: new ol.style.Icon({
				anchor: [0.5, 21.0 / 24.0],
				anchorXUnits: 'fraction',
				anchorYUnits: 'fraction',
				opacity: 0.9,
				src: '/static/icons/unorganizr_locmarker_' + png + '.png'
			}),
			text: new ol.style.Text({
				text: x.details.space_name,
				font: "bold 12px Arial",
				fill: new ol.style.Fill({
					color: color
				}),
				stroke: x.status == "taken" || x.status == "bad" ? undefined : new ol.style.Stroke({
					color: "rgba(255,255,255,0.9)",
					width: 4
				}),
				offsetX: 0,
				offsetY: -38,
			})
		}));
		layerMap[png].addFeature(pf);
	});
}

var positionFeature = new ol.Feature();
positionFeature.setStyle(new ol.style.Style({
	image: new ol.style.Circle({
		radius: 6,
		fill: new ol.style.Fill({
			color: '#39b54a'
		}),
		stroke: new ol.style.Stroke({
			color: '#fff',
			width: 2
		})
	})
}));

positionLayer.addFeature(positionFeature);


GpsTrackButton = function(opt_options) {

  var options = opt_options || {};

  var button = document.createElement('button');
  button.innerHTML = '⌖';
  var element = document.createElement('div');

  var this_ = this;
  var iState = '';
  var baseList = 'gps-find ol-unselectable ol-control';
  var clickBtn = function(e) {
    switch (iState)
    {
    	case '': // just start
    		element.className = baseList + ' pending';
    		iState = 'pending';
    		tryLocation(true);
    		break;
/*    	case 

    		
unction errorHandler(err) {
if(err.code == 1) {
alert("Error: Access is denied!");
}

else if( err.code == 2) {
alert("Error: Position is unavailable!");
}
}

function getLocationUpdate(){
if(navigator.geolocation){
// timeout at 60000 milliseconds (60 seconds)
var options = {timeout:60000};
geoLoc = navigator.geolocation;
watchID = geoLoc.watchPosition(showLocation, errorHandler, options);
}

else{
alert("Sorry, browser does not support geolocation!");
}
}*/
    }
  };

  button.addEventListener('click', clickBtn, false);
  button.addEventListener('touchstart', clickBtn, false);

  element.className = baseList;
  element.appendChild(button);

  ol.control.Control.call(this, {
    element: element,
    target: options.target
  });

};
ol.inherits(GpsTrackButton, ol.control.Control);

map = new ol.Map({
	controls: ol.control.defaults({
		/*attributionOptions: ({
			collapsible: false
		})*/
	}).extend([
		new GpsTrackButton()
	]),
	layers: [new ol.layer.Tile({
		visible: true,
		preload: Infinity,
		source: new ol.source.BingMaps({
				key: 'AgLSPXtDo72XlOb6hkEc5D-4ICLMCgJ0AM2nLSyjpEcYf3fg4-GeJkQbhGP8H6db',
				imagerySet: 'aerial',
				maxZoom: 19
			})
		}), 
		new ol.layer.Vector({ source: grayLayer, }),
		new ol.layer.Vector({ source: redLayer, }),
		new ol.layer.Vector({ source: blueLayer, }),
		new ol.layer.Vector({ source: greenLayer, }),
		new ol.layer.Vector({ source: positionLayer, }),
	],
	// Improve user experience by loading tiles while dragging/zooming. Will make
	// zooming choppy on mobile or slow devices, hence the media query
	loadTilesWhileInteracting: matchMedia("only screen and (min-width: 1024px)").matches,
	target: 'mapDiv',
	view: new ol.View({
		center: ol.proj.fromLonLat([-71.807402, 42.274775]),
		zoom: 19,
	}),
});

// used to find the next nearest open room
function pickNext(e)
{
	e.stopPropagation();
	e.preventDefault();
	
	// find the nearest open room
	var newr = blueLayer.getFeatures().reduce(function(best2, y)
	{
		var best = best2 ? best2.get("raw") : best2;
		var x = y.get("raw");
		if (x && x.status == "free" && (!best || best.distance > x.distance))
			return y;
		return best2;
	}, null);
	
	// find the only good point, should be just one
	shifty = greenLayer.getFeatures().find(function(x)
	{
		if (x.get("raw") && x.get("raw").status == "best")
			return x;
	});
	
	// swap point information
	raw = shifty.get("raw");
	raw.status = "bad";
	raw2 = newr.get("raw");
	
	// if a room is available
	if (raw2.status == "free")
	{
		// then update the status bar and re-center the view
		updateBest(raw2);
		raw2.status = "best";
	}
	
	// re-layer the new points
	greenLayer.removeFeature(shifty);
	blueLayer.removeFeature(newr);
	updateDataLayer([raw, raw2]);
}

// update the status bar and re-center the view
function updateBest(best)
{
	// assign truncated room name to the statusbar
	var ss = document.querySelector(".status");
	if (best.details.space_name.length > 11)
		ss.textContent = best.details.space_name.substring(0,10) + "…";
	else
		ss.textContent = best.details.space_name;
	
	// add back a callback to ourselves
	ss.innerHTML += " (<a href=\"#\" id=\"taken\">no?</a>)";
	document.getElementById("taken").addEventListener("click", pickNext);
	
	// center on best
	map.getView().setCenter(best.coordinates);
}

// xhr callback generator to update the layers and best room
function jsonCallback(oReq, closest)
{
	return function(e)
	{
		var dat = JSON.parse(oReq.responseText);
		if (closest)
			updateBest(dat[0]);
		updateDataLayer(dat.reverse());
	}
}

var lastPos = null;
function geoSuccess(startPos)
{	
	var lattl = ol.proj.fromLonLat([startPos.coords.longitude, startPos.coords.latitude]);
	
	// only recalculate when we move too much
	if (lastPos != null && Math.hypot(lattl[0] - lastPos[0], lattl[1] - lastPos[1]) < 30)
		return;
		
	lastPos = lattl;
	positionFeature.setGeometry(lattl ? new ol.geom.Point(lattl) : null)

	var oReq = new XMLHttpRequest();
	oReq.addEventListener("load", jsonCallback(oReq, false));
	oReq.open("GET", "/api/closed?longitude=" + lattl[0] + "&latitude=" + lattl[1]);
	oReq.send();
	var reqNear = new XMLHttpRequest();
	reqNear.addEventListener("load", jsonCallback(reqNear, true));
	reqNear.open("GET", "/api/closest?longitude=" + lattl[0] + "&latitude=" + lattl[1]);
	reqNear.send();
	
	document.querySelector(".status").textContent = "Finding rooms...";
	document.querySelector(".gps-find > button").className = "tracking";
}

function geoError(err)
{
	console.info(err);
	lastPos = null;
	document.querySelector(".gps-find > button").className = "lost";
	if (err.code == 1)
		document.querySelector(".status").textContent = "Access denied";
	else if (err.code == 2)
		document.querySelector(".status").textContent = "GPS unavailable";
	else
		document.querySelector(".status").textContent = "GPS error";
}

// on page load, get current location
watchPosID = navigator.geolocation.watchPosition(geoSuccess, geoError, {maximumAge: 30 * 1000, timeout: 60*1000});
// and stop polling when we leave the page
window.onbeforeunload = function() {navigator.geolocation.clearWatch(watchPosID);}
};

// preload all the markers
imgpreload = [new Image(), new Image(), new Image(), new Image()];
imgpreload[0].src = "/static/icons/unorganizr_locmarker_red.png";
imgpreload[1].src = "/static/icons/unorganizr_locmarker_green.png";
imgpreload[2].src = "/static/icons/unorganizr_locmarker_blue.png";
imgpreload[3].src = "/static/icons/unorganizr_locmarker_gray.png";
    </script>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <div class="status">Locating you...</div>
              <a href="/" title="Go home"><img src="/static/icons/unorganizr_logo_light.png" class="masthead-brand logorotate"></a>
              <nav>
                <img src="/static/icons/unorganizr_name_light.png" class="nav masthead-nav" style="height: 3em; margin-top: 5px;margin-right: 5px;">
              </nav>
            </div>
          </div>
          <div class="inner cover" id='mapDiv'></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
